@model VideoPlatform.Domain.Models.Episode

@{
    ViewData["Title"] = "Delete";
}

<div class="container py-4">
    <div class="text-center text-light mb-4">
        <h2 class="fw-bold">Delete Episode</h2>
        <p class="lead text-muted">Are you sure you want to delete this episode?</p>

        <div class="mb-4">
            <div class="video-container mb-1">
                @if (!string.IsNullOrEmpty(Model.FilePath))
                {
                    <div style="position: relative; width: 100%; padding-top: 56.25%; overflow: hidden;" class="mb-3">
                    <video class="video-js"
                           controls
                           preload="auto"
                           data-setup="{}"
                           style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                        <source src="@Model.FilePath" type="video/mp4" />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    </div>
                }
                else
                {
                    <p class="text-muted">No video available for preview.</p>
                }
            </div>
        </div>
    </div>


    <div class="bg-dark text-light rounded">
        <h4 class="fw-semibold">Episode Details</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                Title
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-3">
                Description
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-3">
                Publish Date
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PublishDate, "{0:MMMM dd, yyyy}")
            </dd>

            <dt class="col-sm-3">
                Video Source
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FilePath)
            </dd>

            <dt class="col-sm-3">
                Published
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsPublished)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Season)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => (model.Season.Title))
            </dd>
        </dl>
    </div>

    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-danger rounded me-2 px-5"
                data-bs-toggle="modal"
                data-bs-data="@(Model.Id)"
                data-bs-target="#episodeDeleteConfirmModal">
            <i class="bi bi-trash me-1"></i> Delete
        </button>
        <a asp-action="Index" class="btn btn-outline-light rounded px-3">
            Back to List
        </a>
    </div>
</div>


<div class="modal fade" id="episodeDeleteConfirmModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="episodeDeleteConfirmModalLabel">Delete Episode</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="@(Model.Id)-modalForm" asp-action="Delete" asp-controller="Episode" asp-route-id=@Model.Id method="post">
                <input type="hidden" asp-for="Id" />
                <div class="modal-body">
                    <span>Are you sure you want to delete this episode?</span>
                </div>
                <div class="modal-footer row gx-2 justify-content-center d-flex">
                    <div class="col-12 col-lg-5">
                        <button type="submit" id="@(Model.Id)-submissionButton" type="button" class="btn btn-danger w-100">Delete</button>
                    </div>
                    <div class="col-12 col-lg-5">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>